html{
    min-height:100%;
}
body{
	/* background-image: linear-gradient(#FFCA06, #FFF2C1); */
	background-color: #FFCA06;
	color: #000000;
	font-family: Helvetica, sans-serif;
	height: 100%;
	margin: 0px;
}
header{
	color: #000000;
	font-family: 'Helvetica', sans-serif;
}
h1{
	font-family: 'Helvetica', sans-serif;
}
header h1 {
	text-indent:0.5em;
	text-align: center;
}
h2{
	color: #000000;
	text-align: center;
}
dd{
	margin-bottom: 1.5em;
}
dt{
	color: #000099;
	font-size: 14pt;
}
main{
	display:table-cell;
}
footer{
	font-size:75%;
	font-style: italic;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 85%;
}
#wrapper{
    width:80%;
	text-align:center;
	/* min-width:975px;
	max-width:1300px; */
	margin: auto;
	align-items: center;
  	justify-content: center;
}