html{
    min-height:100%;
}
body{
	background-image: linear-gradient(#FFCA06, #FFF2C1);
	color: #000000;
	font-family: Georgia;
	height: 100%;
	margin: 0px;
}
header{
	color: #000000;
	font-family: 'Georgia';
}
h1{
	font-family: 'Georgia';
}
header h1 {
	text-indent:0.5em;
	text-align: center;
}
nav{
	background-image: linear-gradient(#FFF2C1, #FFCA06);
	float: left;
	font-weight: bold;
	width:200px;
	height: 100%;
	text-align: center;
	margin: 0px;
}
nav ul{
	list-style: none;
	padding: 0;
}
nav a{
	text-decoration: none;
	text-align: center;
}
h2{
	color: #000000;
	text-align: center;
}
dd{
	margin-bottom: 1.5em;
}

dt{
	color: #000099;
	font-size: 14pt;
}
main{
	display:table-cell;
}
footer{
	font-size:75%;
	font-style: italic;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 85%;
}

#contact{
	font-size:90%;
}
#wrapper{
    width:80%;
	text-align:center;
	min-width:975px;
	max-width:1300px;
	margin: auto;
}
