<!--Navbar-->
<mdb-navbar SideClass="navbar mb-5 navbar-expand-lg navbar-dark black" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Knight's Path</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <div *ngIf="isUserLoggedIn">
        <li class="nav-item">
          <a class="nav-link waves-light" href="/profile" mdbWavesEffect>Profile</a>
        </li> 
      </div>
      <div *ngIf="isUserLoggedIn">
         <li class="nav-item">
          <a class="nav-link waves-light" href="/planner" mdbWavesEffect>Graduation Plan</a>
        </li> 
      </div>
    </ul>

    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <div *ngIf="!isUserLoggedIn">
                <a class="dropdown-item" href="/login">Login</a> 
                <a class="dropdown-item" href="/register">Sign Up</a>
              </div>
              <div *ngIf="isUserLoggedIn">
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
             
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!-- main content container -->
<div class="jumbotron-fluid">
  <div class="container">
    <router-outlet></router-outlet>
	</div>
</div>

<app-alerts></app-alerts>