<div class ="text-center">
    <header>
        <h1> Knight's Path</h1>
    </header>
    <h2> Want to see your course plan? </h2>
    <p> You've come to the right place.</p>


    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/81/University_of_Central_Florida_seal.svg/1200px-University_of_Central_Florida_seal.svg.png"
        style="width:50%;height:50%;"
    >

    <footer>
        <br>
        2020 Knight's Path Course Planner
        <br>
        <a href="https://github.com/ellie7000/POOSD-Project">Group 11
            Project</a>&nbsp;
    </footer>
</div>