<div id="wrapper">
    <header>
        <h1>About Yourself</h1>
    </header>
    
    <div class="form-style-5">
        <form>
            <fieldset>
                <legend><span class="number">1</span> Student Info</legend>
                <input type="text" name="field1" placeholder="Full Name *">
                <input type="email" name="field2" placeholder="Email *">

                <textarea name="field3" placeholder="About yourself"></textarea>
                <label for="job">Major:</label> 
                <select id="job" name="field4">
                        <option value="Computer Science">Computer Science</option>
                </select>
                </fieldset>
            <fieldset>
           
            </fieldset>
            <input type="submit" value="Save" />
        </form>
    </div>
</div>
