<div class="text-center mb-4">
    <h1> Welcome {{user.name}}</h1>
    <br>

    <div class="row mb-4">
        <div class="col">
            <h4>My Major:</h4>
            <button mdbBtn color="yellow" (click)="openMajor()">Select</button>
            <br>
            <br>
            <h5>
                {{major}}
            </h5>
            
        </div>
        <div class="col">
            <h4>Courses I've Taken:</h4>
            <button mdbBtn color="yellow" (click)="openCourses()">Add</button>
            <br>
            <br>
            <ul class="list-group">
                <div *ngFor="let course of courses">
                    <li class="list-group-item">{{course}}</li>
                </div>
            </ul>
        </div>
    </div>
    
    <h4>Current GPA:</h4>
    <input
        class="form-control mb-4"
        type="number"
        name="gpa"
        placeholder="GPA">
</div>
