<div class="text-center">
    <div class="pb-4">
        <img src="https://i.pinimg.com/originals/bc/3a/f1/bc3af19f458ebfcb411463725fd1e8ab.png"
            style="width:10%;height:10%;">
    </div>

    <h2>
        My Information
    </h2>
    <br>

    <div class="row mb-2">
        <div class="col">
            <h4>
                Major: {{major}} 
                <span class = "pl-2">
                    <mdb-icon far icon="edit" (click)="openMajor()"></mdb-icon>
                </span>
            </h4>
        </div>
    </div>

    <br>
    <h2>
        Course Planner
    </h2>
    <br>

    <div class="row mb-4">
        <div class="col">
            <h4>Courses I've Taken:</h4>
            <ul class="list-group-flush">
                <div *ngFor="let course of coursesTaken">
                    <li class="list-group-item">{{course.name}}
                        <span class = "pl-2">
                            <mdb-icon far icon="edit" (click)="openCourse(course, 'coursesTaken')"></mdb-icon>
                        </span>
                    </li>
                </div>
            </ul>
            <button mdbBtn color="yellow" (click)="openCourses('coursesTaken')">Add</button>
            <!--<h4>GPA:</h4>
            <button mdbBtn color="yellow" (click)="gpaCalc('coursesTaken')">Calculate</button>-->

        </div>
         <div class="col">
            <h4>Courses I Will Take:</h4>
            <ul class="list-group-flush">
                <div *ngFor="let course of coursesToTake">
                    <li class="list-group-item">{{course.name}}
                        <span class = "pl-2">
                            <mdb-icon far icon="edit" (click)="openCourse(course, 'coursesToTake')"></mdb-icon>
                        </span>
                    </li>
                </div>
            </ul>
            <button mdbBtn color="yellow" (click)="openCourses('coursesToTake')">Add</button>

        </div>
    </div>
    
    <h4>GPA:</h4>
    <input
        class="form-control mb-4"
        type="number"
        name="gpa"
        placeholder="GPA">
</div>
