<div id="wrapper">
    <header>
        <h1>Login</h1>
    </header>

    <div class="form-style-5">
        <form>
            <fieldset>
                <legend><span class="number">1</span> Account Info</legend>
                <input type="text" name="field1" placeholder="Username *">
                <input type="email" name="field2" placeholder="Password *">
            </fieldset>
            <input type="submit" value="Login" />
        </form>
    </div>

    <footer>
        <br>
        2020 Knight's Path Course Planner
        <br>
        <a href="https://github.com/ellie7000/POOSD-Project">Group 11
            Project</a>&nbsp;
    </footer>
</div>