<div id="wrapper">
    <header>
        <h1>Register</h1>
    </header>
    <h2> Sign Up Here </h2>

    <!--
	<div>
    <form action="/action_page.php">
		<label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="firstname" placeholder="First Name">

		<label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastname" placeholder="Last Name">

		<label for="email">Email: </label>
        <input type="text" id="email" name="email" placeholder="Email">

        <label for="username">User Name: </label>
        <input type="text" id="username" name="username" placeholder="Username">

        <label for="password">Password: </label>
        <input type="text" id="password" name="password" placeholder="Password">

		<label for="confirm password">Password: </label>
        <input type="text" id="confirm password" name="confirm password" placeholder="Confirm Password">
    </form>
    </div>
    -->

    <div class="form-style-5">
        <form>
            <fieldset>
                <legend><span class="number">1</span> Student Info</legend>
                <input type="text" name="field1" placeholder="Full Name *">
                <input type="email" name="field2" placeholder="Email *">

                <legend><span class="number">2</span> Account Info</legend>
                <input type="text" name="field3" placeholder="Username *">
                <input type="email" name="field4" placeholder="Password *">

                <!--textarea name="field3" placeholder="About yourself"></textarea-->
                <!-- <label for="job">Interests:</label> -->
                <!-- <select id="job" name="field4">
                    <optgroup label="Indoors">
                        <option value="fishkeeping">Fishkeeping</option>
                        <option value="reading">Reading</option>
                        <option value="boxing">Boxing</option>
                        <option value="debate">Debate</option>
                        <option value="gaming">Gaming</option>
                        <option value="snooker">Snooker</option>
                        <option value="other_indoor">Other</option>
                    </optgroup>
                    <optgroup label="Outdoors">
                        <option value="football">Football</option>
                        <option value="swimming">Swimming</option>
                        <option value="fishing">Fishing</option>
                        <option value="climbing">Climbing</option>
                        <option value="cycling">Cycling</option>
                        <option value="other_outdoor">Other</option>
                    </optgroup>
                </select> -->
                <!-- </fieldset>
            <fieldset>
                <legend><span class="number">2</span> Additional Info</legend>
                <textarea name="field3" placeholder="About Your School"></textarea>
            -->

            </fieldset>
            <input type="submit" value="Sign Up" />
        </form>
    </div>

    <footer>
        <br>
        2020 Knight's Path Course Planner
        <br>
        <a href="https://github.com/ellie7000/POOSD-Project">Group 11
            Project</a>&nbsp;
    </footer>
</div>
