<div id="wrapper">
    <header>
        <h1>Register</h1>
    </header>
    <h2> Sign Up Here </h2>
	<div>
    <form action="/action_page.php">
		<label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="firstname" placeholder="First Name">
	</br>
	</br>
		<label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastname" placeholder="Last Name">
	</br>
	</br>
		<label for="email">Email: </label>
        <input type="text" id="email" name="email" placeholder="Email">
	</br>
	</br>
        <label for="username">User Name: </label>
        <input type="text" id="username" name="username" placeholder="Username">
	</br>
	</br>
        <label for="password">Password: </label>
        <input type="text" id="password" name="password" placeholder="Password">
	</br>
	</br>
		<label for="confirm password">Password: </label>
        <input type="text" id="confirm password" name="confirm password" placeholder="Confirm Password">
        
    </form>
    </div>

    <footer>
        <br>
        2020 Knight's Path Course Planner
        <br>
        <a href="https://github.com/ellie7000/POOSD-Project">Group 11
            Project</a>&nbsp;
    </footer>
</div>
