html{
    min-height:100%;
}
body{

	background-image: linear-gradient(#BF953F, #000000);
	
	color: #000001;
	font-family: helvetica;
}
header{
	background-color: #000033;
	color: #FFFFFF;
	
}


h1{
	margin-bottom:0em;
	font-family: Times New Romans;
}
header h1 {
	text-indent:0.5em;
	text-align: center;
}
nav{

	background-image: linear-gradient(#E0E0E0, #757575);
	text-align:left;
	float: left;
	line-height: 1.25em;
	font-weight: bold;
	width:200px;
	display:table-cell;	
	background-attachment: fixed;
}
nav ul{
	list-style: none;
	padding: 0;
}
nav a{
	text-decoration: none;
}
h2{
	color: #000000;
	
}
dd{
	margin-bottom: 1.5em;
}

dt{
	color: #000099;
	font-size: 14pt;
}
main ul{

}
main{
	display:table-cell;
}
footer{
	font-size:75%;
	font-style: italic;
	text-align: center;
}

#contact{
	font-size:90%;
}
#wrapper{
    width:80%;
	text-align:left;
	min-width:975px;
	max-width:1300px;
	margin: auto;
}


